@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans Caption';
}

.invisible {
    display: none;
}

header {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.candidato-info {
    display: flex;
    align-items: center;
    height: 100%;
}

.candidato-info>div {
    display: flex;
}

.candidato-info p {
    margin: 0 5px;
    font-size: 0.8rem;
}

.box {
    background-color: #F5F5F5;
    font-weight: bold;
    padding: 3px;
    border-radius: 2px;
}

main {
    background-color: #E5E5E5;
    padding: 50px 10vw;
    color: #555555;
}

.title {
    font-size: 32px;
    margin-bottom: 10px;
}

.sub-title {
    font-size: 16px;
    margin-bottom: 10px;
}

.pesquisa input {
    border: none;
    height: 32px;
    padding-left: 10px;
    width: 50%;
}

button {
    background-color: #fff;
    height: 32px;
    border: none;
    padding: 0 10px;
}

button svg {
    font-size: 14px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh;
    background-color: #fff;
}

.pagination svg {
    font-size: 1.7rem;
    color: #8E8E8E;
}

.pagination svg:hover {
    color: #167ABC;
}

.page-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    border: 1px solid #E5E5E5;
    color: #555555;
    padding: 2px;
    width: 35px;
    height: 35px;
    text-align: center;
    margin: 0 7px;
    font-size: 1rem;
}

.pagination a {
    text-decoration: none;
}

.page-box:hover {
    background-color: #167ABC;
    border: 1px solid #167ABC;
    color: #fff;
}

.cabecalho {
    display: flex;
    margin-top: 6vh;
    margin-bottom: 10px;
    font-size: 12px;
    width: 100%;
    color: #8E8E8E;
}

.personagem {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px #00000033;
    border-radius: 4px;
    width: 100%;
    color: #555555;
    font-size: 14px;
    padding: 20px 0;
    margin: 20px 0;
}

.foto {
    display: flex;
    align-items: center;
}

.foto p {
    margin-left: 20px;
}

.personagem>section, .cabecalho>p {
    width: 33%;
}

.personagem>section:first-child, .cabecalho>p:first-child {
    padding-left: 20px;
}

.loading {
    text-align: center;
    margin: 25vh;
}

.details {
    background-color: #E5E5E5;
    padding: 50px 10vw;
    color: #555555;
    min-height: 90vh;
}

.details h1 {
    margin-bottom: 3vh;
    text-align: center;
}

.details>section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.comics {
    padding: 0vw 5vw;
}

.comics p {
    font-size: 1.2rem;
}

div.btn {
    display: flex;
    justify-content: center;
}

.btn-voltar {
    margin-top: 2vh;
    background-color: #555555;
    height: 40px;
    border-radius: 10px;
}

.btn-voltar a {
    margin-top: 3vh;
    background-color: #555555;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    margin: 20px;
}

a.char-link {
    text-decoration: none;
}

.comics ul {
    line-height: 1.5;
    font-size: 1rem;
    padding-left: 50px;
}

.description {
    width: 300px;
}

@media only screen and (max-width: 900px) {
    main {
        text-align: center;
    }
    .serie, .evento {
        display: none;
    }
    .foto {
        width: 100%;
    }
    p.foto {
        text-align: center;
        margin-left: 13vw;
    }
    .pesquisa input {
        width: 90%;
    }
    .candidato-info>div {
        flex-direction: column;
        text-align: right;
        margin-right: 10px;
    }
    .details h1 {
        text-align: center;
    }
    .details>section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .comics {
        padding: 5vw 7vw;
    }
    .comics p {
        line-height: 1.7;
        font-size: 1.2rem;
    }
}